<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <!-- Card -->
      <div class="card">

        <!-- Card body -->
        <div class="card-body">

          <!-- Material form register -->
          <form>
            <p class="h4 text-center py-4">Sign up</p>

            <!-- Material input text -->
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input [(ngModel)]="user.userName" name="username" type="text" id="materialFormCardNameEx"
                class="form-control">
              <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input [(ngModel)]="user.emailAddress" name="email" type="email" id="materialFormCardEmailEx"
                class="form-control">
              <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input [(ngModel)]="user.password" name="password" type="password" id="materialFormCardPasswordEx"
                class="form-control">
              <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
            </div>

            <div class="text-center py-4 mt-3">
              <button [disabled]="!user.userName || !user.password || !user.emailAddress" (click)="register()"
                class="btn btn-info" type="submit">Register</button>
            </div>
          </form>
          <!-- Material form register -->

        </div>
        <!-- Card body -->

      </div>
      <!-- Card -->
    </div>
    <div class="col-4"></div>
  </div>
